* {
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  margin: 0;
  font: 12px ubuntu, times new roman;
}
.dialog {
  z-index: 1;
  position: fixed;
  max-width: 50%;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  background-color: #e8e8e8;
  padding: 1em;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
}
@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), local("Ubuntu Regular"), local("Ubuntu-Regular"), url("../font/Ubuntu-R.ttf") format("truetype");
}
@font-face {
  font-family: Ubuntu;
  font-style: italic;
  font-weight: 400;
  src: local("Ubuntu Italic"), local("Ubuntu-Italic"), url("../font/Ubuntu-RI.ttf") format("truetype");
}
@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url("../font/Ubuntu-B.ttf") format("truetype");
}
@font-face {
  font-family: Ubuntu;
  font-style: italic;
  font-weight: 700;
  src: local("Ubuntu Bold Italic"), local("Ubuntu-BoldItalic"), url("../font/Ubuntu-BI.ttf") format("truetype");
}
@font-face {
  font-family: Ubuntu Mono;
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Mono"), local("Ubuntu-Mono"), url("../font/UbuntuMono-R.ttf") format("truetype");
}
@font-face {
  font-family: Ubuntu Mono;
  font-style: italic;
  font-weight: 400;
  src: local("Ubuntu Mono Italic"), local("UbuntuMono-Italic"), url("../font/UbuntuMono-RI.ttf") format("truetype");
}
@font-face {
  font-family: Ubuntu Mono;
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Mono Bold"), local("UbuntuMono-Bold"), url("../font/UbuntuMono-B.ttf") format("truetype");
}
@font-face {
  font-family: Ubuntu Mono;
  font-style: italic;
  font-weight: 700;
  src: local("Ubuntu Mono Bold Italic"), local("UbuntuMono-BoldItalic"), url("../font/UbuntuMono-BI.ttf") format("truetype");
}
.pane {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.pane > div {
  flex: 1;
  overflow: hidden;
}
.list {
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.list .scroll {
  flex: 1;
  overflow: auto;
  padding: 1px;
}
.list input {
  width: 100%;
}
.list img {
  margin-right: 2px;
  vertical-align: sub;
}
.list table {
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  border-collapse: collapse;
}
.list table td {
  white-space: nowrap;
  height: 20px;
  vertical-align: middle;
}
.list table td:not(:first-child) {
  text-align: right;
}
.list table td:last-child {
  font: 14px ubuntu mono;
}
.list tr.focus {
  background-color: #e8e8e8;
  box-shadow: 0 0 0 1px #000;
}
.list tr.selected {
  color: red;
}
.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 1.5;
}
.tabs li {
  display: inline-block;
  cursor: pointer;
  padding: 0 3px;
}
.tabs li:not(.active) {
  opacity: 0.8;
}
.tabs li.active {
  background-color: #ccc;
}
#prompt input {
  display: block;
  width: 100%;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #e8e8e8;
}
#panes {
  flex: 1;
  display: flex;
  flex-direction: row;
}
footer {
  line-height: 1.5;
  padding: 0 3px;
}
body.modal::after {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
