.list {
	height: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;

	.scroll {
		flex: 1;
		overflow: auto;
		padding: 1px;
	}

	input {
		width: 100%;
	}

	img {
		margin-right: 2px;
		vertical-align: sub;
	}

	table {
		-webkit-user-select: none;
		user-select: none;

		width: 100%;
		border-collapse: collapse;

		td {
			white-space: nowrap;
			height: 20px;
			vertical-align: middle;

			&:not(:first-child) {
				text-align: right;
			}

			&:last-child {
				font: 14px ubuntu mono;
			}
		}
	}

	tr.focus {
		background-color: #e8e8e8;
		box-shadow: 0 0 0 1px #000;
	}

	tr.selected {
		color: red;
	}
}
