@import "../variables.less";
@import "../common.less";

@font: "../../font";

textarea {
	resize: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border: none;
	background-color: #fff;

	font: bold 16px / 1.3 ubuntu mono, monospace;
	color: #000;
}
