* {
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  margin: 0;
  font: 12px ubuntu, times new roman;
}
.dialog {
  z-index: 1;
  position: fixed;
  max-width: 50%;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  background-color: #e8e8e8;
  padding: 1em;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
}
@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), local("Ubuntu Regular"), local("Ubuntu-Regular"), url("../../font/Ubuntu-R.ttf") format("truetype");
}
@font-face {
  font-family: Ubuntu;
  font-style: italic;
  font-weight: 400;
  src: local("Ubuntu Italic"), local("Ubuntu-Italic"), url("../../font/Ubuntu-RI.ttf") format("truetype");
}
@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url("../../font/Ubuntu-B.ttf") format("truetype");
}
@font-face {
  font-family: Ubuntu;
  font-style: italic;
  font-weight: 700;
  src: local("Ubuntu Bold Italic"), local("Ubuntu-BoldItalic"), url("../../font/Ubuntu-BI.ttf") format("truetype");
}
@font-face {
  font-family: Ubuntu Mono;
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Mono"), local("Ubuntu-Mono"), url("../../font/UbuntuMono-R.ttf") format("truetype");
}
@font-face {
  font-family: Ubuntu Mono;
  font-style: italic;
  font-weight: 400;
  src: local("Ubuntu Mono Italic"), local("UbuntuMono-Italic"), url("../../font/UbuntuMono-RI.ttf") format("truetype");
}
@font-face {
  font-family: Ubuntu Mono;
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Mono Bold"), local("UbuntuMono-Bold"), url("../../font/UbuntuMono-B.ttf") format("truetype");
}
@font-face {
  font-family: Ubuntu Mono;
  font-style: italic;
  font-weight: 700;
  src: local("Ubuntu Mono Bold Italic"), local("UbuntuMono-BoldItalic"), url("../../font/UbuntuMono-BI.ttf") format("truetype");
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
