* {
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  margin: 0;
  font: 12px system-ui;
}
.dialog {
  z-index: 1;
  position: fixed;
  max-width: 50%;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  background-color: #e8e8e8;
  padding: 1em;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
audio,
video {
  max-width: 100vw;
  max-height: 100vh;
}
